<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Generated Suite">
  <test name="Generated Test">
    <classes>
      <class name="election.tally.Constituency_JML_Test"/>
      <class name="election.tally.Constituency_JML_Test.TestGetCandidate"/>
      <class name="election.tally.Constituency_JML_Test.TestSetNumberOfCandidates"/>
      <class name="election.tally.Constituency_JML_Test.TestGetNumberOfSeatsInThisElection"/>
      <class name="election.tally.Constituency_JML_Test.TestGetTotalNumberOfSeats"/>
      <class name="election.tally.Constituency_JML_Test.TestSetNumberOfSeats"/>
      <class name="election.tally.Constituency_JML_Test.TestGetNumberOfCandidates"/>
      <class name="election.tally.Candidate_JML_Test"/>
      <class name="election.tally.Candidate_JML_Test.TestGetVoteAtCount"/>
      <class name="election.tally.Candidate_JML_Test.TestGetOriginalVote"/>
      <class name="election.tally.Candidate_JML_Test.TestGetStatus"/>
      <class name="election.tally.Candidate_JML_Test.TestGetCandidateID"/>
      <class name="election.tally.Candidate_JML_Test.TestCandidate"/>
      <class name="election.tally.Candidate_JML_Test.TestAddVote"/>
      <class name="election.tally.Candidate_JML_Test.TestRemoveVote"/>
      <class name="election.tally.Candidate_JML_Test.TestDeclareElected"/>
      <class name="election.tally.Candidate_JML_Test.TestDeclareEliminated"/>
      <class name="election.tally.Candidate_JML_Test.TestIsAfter"/>
      <class name="election.tally.Candidate_JML_Test.TestSameAs"/>
      <class name="election.tally.Candidate_JML_Test.TestGetTotalAtCount"/>
      <class name="election.tally.Candidate_JML_Test.TestIsElected"/>
      <class name="election.tally.ElectionStatus_JML_Test"/>
      <class name="election.tally.DecisionStatus_JML_Test"/>
      <class name="election.tally.Ballot_JML_Test"/>
      <class name="election.tally.Ballot_JML_Test.TestBallot"/>
      <class name="election.tally.Ballot_JML_Test.TestGetCandidateID"/>
      <class name="election.tally.Ballot_JML_Test.TestGetNextPreference"/>
      <class name="election.tally.Ballot_JML_Test.TestTransfer"/>
      <class name="election.tally.Ballot_JML_Test.TestIsAssignedTo"/>
      <class name="election.tally.Ballot_JML_Test.TestRemainingPreferences"/>
      <class name="election.tally.Ballot_JML_Test.TestGetPreference"/>
      <class name="election.tally.Ballot_JML_Test.TestIsFirstPreference"/>
      <class name="election.tally.Decision_JML_Test"/>
      <class name="election.tally.Decision_JML_Test.TestSetCandidate"/>
      <class name="election.tally.Decision_JML_Test.TestSetCountNumber"/>
      <class name="election.tally.Decision_JML_Test.TestSetDecisionType"/>
      <class name="election.tally.Decision_JML_Test.TestGetDecisionStatus"/>
      <class name="election.tally.Decision_JML_Test.TestGetCandidateID"/>
      <class name="election.tally.Decision_JML_Test.TestGetCountNumber"/>
      <class name="election.tally.Decision_JML_Test.TestCopy"/>
      <class name="election.tally.BallotBox_JML_Test"/>
      <class name="election.tally.BallotBox_JML_Test.TestSize"/>
      <class name="election.tally.BallotBox_JML_Test.TestBallotBox"/>
      <class name="election.tally.BallotBox_JML_Test.TestAccept"/>
      <class name="election.tally.BallotBox_JML_Test.TestIsNextBallot"/>
      <class name="election.tally.BallotBox_JML_Test.TestGetNextBallot"/>
      <class name="election.tally.AbstractCountStatus_JML_Test"/>
      <class name="election.tally.AbstractCountStatus_JML_Test.TestGetState"/>
      <class name="election.tally.AbstractCountStatus_JML_Test.TestChangeState"/>
      <class name="election.tally.AbstractCountStatus_JML_Test.TestIsPossibleState"/>
      <class name="election.tally.CandidateStatus_JML_Test"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestHasQuota"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestIsElected"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestGetSurplus"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestGetTotalSumOfSurpluses"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestIsDepositSaved"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestDistributeSurplus"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestSetup"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestLoad"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestGetQuota"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestCalculateFirstPreferences"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestCountBallotsFor"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestCountFirstPreferences"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestGetPotentialTransfers"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestGetStatus"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestGetNextContinuingPreference"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestIsContinuingCandidateID"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestGetActualTransfers"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestGetRoundedFractionalValue"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestGetTransferShortfall"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestRandomSelection"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestGetTransferRemainder"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestIsHigherThan"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestGetOrder"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestCompareCandidates"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestGetTotalTransferableVotes"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestTransferVotes"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestFindHighestCandidate"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestFindLowestCandidate"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestEliminateCandidate"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestMakeDecision"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestRedistributeBallots"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestTransferBallot"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestCount"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestElectCandidate"/>
      <class name="election.tally.AbstractBallotCounting_JML_Test.TestGetNumberContinuing"/>
      <class name="election.tally.CountConfiguration_JML_Test"/>
      <class name="election.tally.BallotCounting_JML_Test"/>
      <class name="election.tally.BallotCounting_JML_Test.TestDistributeSurplus"/>
      <class name="election.tally.BallotCounting_JML_Test.TestMoveSurplusBallots"/>
      <class name="election.tally.BallotCounting_JML_Test.TestRemoveNonTransferableBallots"/>
      <class name="election.tally.BallotCounting_JML_Test.TestCalculateNumberOfTransfers"/>
      <class name="election.tally.BallotCounting_JML_Test.TestTransferVotes"/>
      <class name="election.tally.BallotCounting_JML_Test.TestCount"/>
      <class name="election.tally.BallotCounting_JML_Test.TestElectCandidatesWithSurplus"/>
      <class name="election.tally.BallotCounting_JML_Test.TestExcludeLowestCandidates"/>
      <class name="election.tally.BallotCounting_JML_Test.TestFillLastSeats"/>
      <class name="election.tally.BallotCounting_JML_Test.TestStartCounting"/>
      <class name="election.tally.BallotCounting_JML_Test.TestGetDepositSavingThreshold"/>
      <class name="election.tally.BallotCounting_JML_Test.TestBallotCounting"/>
      <class name="election.tally.BallotCounting_JML_Test.TestUpdateCountStatus"/>
      <class name="election.tally.BallotCounting_JML_Test.TestIncrementCountNumber"/>
      <class name="election.tally.BallotCounting_JML_Test.TestGetRemainingSeats"/>
      <class name="election.tally.BallotCounting_JML_Test.TestGetContinuingCandidates"/>
      <class name="election.tally.BallotCounting_JML_Test.TestGetCountStatus"/>
    </classes>
  </test>
</suite>
